@import "../colors";

$position: fixed;
$fullsreen-width: 100%;
$fullsreen-height: 100vh;
$modal-width: 30%;
$modal-height: auto;

.modalMilk {
  position: $position;
  z-index: 999;
  width: $fullsreen-width;
  height: $fullsreen-height;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  background-color: $background;
  border: 1px solid $border;
  color: $font-color;

  -webkit-box-shadow: 0px 0px 5px 2px $shadow;
  -moz-box-shadow: 0px 0px 5px 2px $shadow;
  box-shadow: 0px 0px 5px 2px $shadow;


  border-radius: 10px;
  width: $modal-width;
  height: $modal-height;
  padding: 10px;
}

@media screen and (max-width: 1400px) {
  .modalContainer {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .modalContainer {
    width: 80%;
  }
}