.wrapper {
  display: flex;
}

.space {
  width: 25%;
  height: fit-content;
}

.container {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1200px) {
  .space {
    display: none;
  }

  .container {
    width: 100%;
  }
}

.spinner {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  border: 2px solid;
  border-top-color: transparent;

  animation: spin 1s linear infinite;
}